{% extends "base.html.twig" %}

{% block title %}
    {{ title }} page
{% endblock title %}

{% block body %}
    <h1>this page is the {{ title }} page</h1>
    <br>
    {% for anagram in Anagrams %}
        <li>{{ anagram }}</li>
    {% endfor %}

{% endblock body %}