<h1>isPalindrome Exercise.</h1>
<p>This section will identify if the entered word is a palindrome.</p>

<h2>Instructions.</h2>
<p>please enter a word into the 'Word' input box below.</p>
<p>then press the submit button.</p>
<br>
<br>
<label for="palindromeWord">Word</label>
<br>
<input id="palindromeWord" class="input-box"></input>
<button name="SubmitButton" onclick="SubmitOperationType('palindrome')" class="input-box">Submit</button>

<div id="palindromeResult"></div>