<h2>Palindrome</h2>
<i>noun </i>
<p>a word, phrase, or sequence that reads the same backwards as forwards, e.g. madam or nurses run.</p>
<br>
<br>
<p>Definition from <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiF5sfFv-aBAxVmgf0HHXnOA0gQvecEegQIEBAE&url=https%3A%2F%2Flanguages.oup.com%2Fgoogle-dictionary-en&usg=AOvVaw3kNBXVjbAIAFeyFQVCJmJF&opi=89978449">Oxford Languages.</a></p>