<h1>isPangram Exercise.</h1>
<p>This section will identify if the entered word is a pangram.</p>

<h2>Getting Started</h2>
<p>please enter a word or sentence in the input box below.</p>
<br>
<br>
<input name="inputText" class="input-box"></input>
<button name="SubmitButton" onclick="SubmitOperationType('pangram')" class="input-box">Submit</button>

<div id="pangramResult"></div>