<h1>isPangram Exercise.</h1>
<p>This section will identify if the entered word is a pangram.</p>

<h2>Instructions.</h2>
<p>please enter a phrase into the 'Phrase' input box below.</p>
<p>then press the submit button.</p>
<br>
<br>
<label for="pangramWord">Phrase</label>
<br>
<input id="pangramWord" class="pangram-input-box"></input>
<button name="SubmitButton" onclick="SubmitOperationType('pangram')" class="input-box">Submit</button>

<div id="pangramResult"></div>